@import '~@/assets/scss/_colors.scss';

.film {
  &-container {
    background-color: $secondary-bg;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
  }

  &-seasons-container {
    margin-bottom: 1rem;
  }
  &-posters-image {
    object-fit: cover;
    min-width: 100%;
    height: 322px;
    object-position: 10% 50%
  }
  &-reviews-container {
    margin-bottom: 1rem;
  }
  &-posters-container {
    margin-bottom: 1rem;
  }
  &-similar-movies-image {
    height: 538px !important;
  }
}

#film-back-button {
  position: absolute;
  top:1rem;
  right: 1rem;
}

#film-back-icon {
  margin-right: 0.2rem;
}

.film-title {  
  &-container {
    display: flex; 
    gap: 1.5rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 1308px) {
      align-items: center;
    }
    
  }

  &-image {
    max-width: 30%;
    object-fit: cover ;
    @media screen and (max-width: 1308px) {
      height: 100%;
    }
    @media screen and (max-width: 950px) {
      height: 100%;
      min-width: 50%;
    } 

  };

  &-name {
    &-name {
      padding: 0 1rem;
      overflow-wrap: anywhere;
    }
    text-wrap: wrap;
    text-align: center;
    &-container {
      width: calc(70% - 1.5rem) ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 1200px) {
        justify-content: start;
      }
      @media screen and (max-width: 867px) {
        gap: 1rem;
        align-items: center;
      }
    }
    &-description {
      margin: 1rem 0;
    }
    &-rating-container {
      display: flex;
      gap: 1rem;
      justify-content: center;
      @media screen and (max-width: 867px) {
        flex-direction: column;
      }
    }
    &-authors-slider-container {
      padding: 0 2rem;
      img {
        max-width: 100%;
        height: 160px;
      }
    }
  }
}

.carousel-image-container {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  * {
    text-align: center;
  }
}

.carousel-dots {
  bottom: -12px !important;
}



