@import '~@/assets/scss/_colors.scss';

.reviews {
  &-title {
    margin-bottom: 1rem;
  }

  &-pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 950px) {
      flex-direction: column;
    } 
  }

  &-item {
    &-container {
      background-color: $primary-bg;
      width: 50%;
      padding: 1rem;
      @media screen and (max-width: 950px) {
        width: calc(100% - 2rem);
      }   
    }

    &-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      &-author {
        display: flex;
      }
    }

    &-review {
      .anticon-copy {
        color: gray !important;
      }
      &-text {
        white-space: break-spaces;
      }
      &-show-moreless {
        cursor: pointer;
        color: gray;
      }
    }
  }
}