@import '~@/assets/scss/_colors.scss';

$filter-gap: 10px;

.filter {
  &-container {
    background-color: $primary;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  &-inner {
    display:flex;
    flex: 1 1;
    gap: $filter-gap;
    flex-wrap: wrap;
  }
  &-item {
    flex: 1 1 calc((100% / 3) - calc($filter-gap*2))
  }

}

.ant-select-selector {
  box-shadow: unset !important;
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 2px white solid !important;
  background-color: unset !important;
  padding-left: 0 !important;
  * {
    color: white !important;
    font-weight: 600;
  }
  .ant-select-selection-placeholder {
    left: 0;
  }
}

.ant-select-focused {
  box-shadow: none !important;
}

.ant-select-arrow {
  color: white !important;
}

.ant-select-open .ant-select-selector {
  box-shadow: none !important;
}

.ant-input-number-input {
  color: white !important;
  padding-left: 0 !important;
  &:focus {
    background-color: transparent !important;
  }
}

.ant-input-number-outlined {
  background-color: unset !important;
  border: 0 !important;
  &:focus, &:hover {
    border: unset;
    box-shadow: unset;
    background-color: unset;
  }
}

.ant-input-number-focused {
  border: unset !important;
  box-shadow: unset !important;
  background-color: unset !important;
}

.ant-input, .ant-input-number {
  padding-left: 0;
  background-color: unset;
  border: unset;
  border-radius: 0;
  border-bottom: 2px white solid !important;
  &:focus, &:hover {
    border: unset;
    box-shadow: unset;
    background-color: unset;
  }
  color: white !important;
}

::placeholder { /* Most modern browsers support this now. */
  color: white !important;
}

