@import '~@/assets/scss/_colors.scss';

.filter-container {
  background-color: $primary;
  padding: 1rem;
}

.filter-inner {
  display:flex;
  flex: 1 1;
  gap: 5px;
  flex-wrap: wrap;
}

.filter-item {
  flex: 1 1 calc((100% / 3) - 10px)
}

.filter-input {
  background-color: unset !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom:  1px solid white !important;
  color: white !important;
}