@import '~@/assets/scss/_colors.scss';

.films-loading-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.ant-pagination-item > * {
  color: white !important;
}

.ant-pagination-item-active {
  * {
    color: $primary !important;
  }

  background-color: unset !important;
}

.ant-pagination-item-link > * {
  color: white !important;
}
