@import '~@/assets/scss/_colors.scss';


.ant-pagination-item > * {
  color: white !important;
}

.ant-pagination-item-active {
  * {
    color: $primary !important;
  }
  
  background-color: unset !important;
}

.ant-pagination-item-link > * {
  color: white !important
}

