@import '~@/assets/scss/_colors.scss';
@import '~@/assets/scss/_default-page-style.scss';

.navbar {
  &-inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &-container {
    padding: 1rem 0;
  }
  &-item {
    cursor: pointer;
    > a {
      color: white;
      text-decoration: none;
    }
    
  }
  &-filmfind {
    display: flex;
    gap: 10px;
  }
}