@import '~@/assets/scss/_colors.scss';
@import '~@/assets/scss/_default-page-style.scss';

.navbar {
  &-inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &-container {
    padding: 1rem 0;
  }
  &-item {
    cursor: pointer;
    
    > a {
      transition: color .3s;
      color: gray;
      text-decoration: none;
    }
    &:hover {
      > a {
        color: $primary;
      }
    }
    &-active {
      > a {
        color: white;
      }
    }
    
  }
  &-filmfind {
    display: flex;
    gap: 10px;
  }
}