@import '~@/assets/scss/_colors.scss';
@import '~@/assets/scss/_default-page-style.scss';

.navbar-inner {
  display: flex;
  justify-content: center;

}

.navbar-container {
  padding: 1rem;
}

.navbar-item {
  cursor: pointer
}